<div class="page-main-header">
    <img class="profile-pic" src="/assets/favicon.png">
    <a href="https://www.gregbocsardi.com">
        <b>gregbocsardi.com</b>
    </a>
    <p>The place where I come to think.</p>
</div>
<hr>
<div class="navbar">
    <ul class="nav">
        <li><a class="internal-link" href="/"><b>Overview</b></a></li>
        <li><b>   |   </b></li>
        <li><a class="internal-link" href="/graph"><b>Graph</b></a></li>
        <li><b>   |   </b></li>
        <li><a class="internal-link" href="/tags"><b>By Tags</b></a></li>
    </ul>
</div>
<hr>